<!DOCTYPE html>
<html>
  <head>
    <title> Form </title>
  </head>
  <body>
    {% set messages = get_flashed_messages() %}
    {% for message in messages %}
    <center>
      <h1> {{message}} </h1>
    </center>
    {% endfor %}
    {% block content1 %}
    <h1> LOGIN </h1>
    <form method="POST" action="/output/">
      <h2>Enter your username</h2>
      <input type="text" name="name"><br><br>
      <h2>Enter your password</h2>
      <input type="password" name="pass"><br><br>
      <input type="submit">
    </form>
    {% endblock %}
  </body>
</html>
